.banner{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(resto1.jpg);
    background-size: cover;
    background-position: center;
}

.icon-service{
    width: 90px;
    height: 90px;
    border: solid #fff 2px;
    border-radius: 50%;
    color: #ffff;
}

.background-service{
    height: auto;
    background: rgb(119, 80, 8);
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}